{% include "header.html" %}


<!-- ---------------------Main body---------------------------- -->
<div class="container">
    <div class="item" id="item-1">
            <h1 id="heading">Harry-Tech</h1>
            <p>At Harrt-tech, we have assembled a dynamic and talented Web Development Team that is dedicated to crafting exceptional online experiences. With a wealth of expertise and a passion for innovation, our team members are committed to delivering high-quality, user-centric solutions that meet and exceed our clients' expectations.
                <br>
                &nbsp;
            Get in touch with our Web Development Team today and let us bring your online vision to life!
            </p>
        </div>

        <div class="item" id="item-2">
            <img src="/static/Images\web.jpg" alt="web Engineering">
        </div>
</div>
{% include "footer.html" %}