 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Portfolio</title>
</head>
<body>

    <!-- =======================Header content==================== -->
    <header>
        <nav class="nav">
            <div class="logo">
                <img src="/static/Images\logo.jpeg" alt="logo">
            </div>
            <ul>
                <li class='{% if request.path == "/" %} active {% endif %}'><a href="/">Home</a></li>
                <li class='{% if request.path == "/about" %} active {% endif %}'><a href="/about">About</a></li>
                <li class='{% if request.path == "/services" %} active {% endif %}'><a href="/services">Services</a></li>
                <li class='{% if request.path == "/contact" %} active {% endif %}'><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>