{% include "header.html" %}

 <!-- ===========================Services================================ -->

 <h1 id="hs">Our Services</h1>
 <div class="services">
     <div class="service" id="service-1">
         <img src="/static/Images\wordpress.jpg" alt="web Engineering">
         <h1>wordpress</h1>
         <p>
             WordPress is a popular and widely-used content management system (CMS) that revolutionized website development. Known for its user-friendly interface and extensive customization options, WordPress has become the go-to platform for individuals, businesses, and organizations of all sizes to create and manage their online presence.
         </p>
     </div>
     <div class="service" id="service-2">
         <img src="/static/Images\python.jpg" alt="web Engineering">
         <h1>Python</h1>
         <p>
             Python is a versatile and powerful programming language that has gained tremendous popularity among developers worldwide. Known for its simplicity, readability, and vast array of libraries, Python has become a go-to language for various applications, ranging from web development and data analysis to artificial intelligence and scientific computing.
         </p>
     </div>
     <div class="service" id="service-3">
         <img src="/static/Images\digital marketing.jpg" alt="web Engineering">
         <h1>Digital marketing</h1>
         <p>
             Digital marketing has become an essential component of any successful business strategy in today's interconnected world. It encompasses a broad range of online marketing techniques and tactics aimed at promoting products, services, and brands, reaching and engaging with target audiences, and driving measurable results.
         </p>
     </div>
 </div>

{% include "footer.html" %}